{block content}
<div id="content">
    <div class="container">
        <h3>Editovat značku</h3>
            <div class="card" style="padding: 1em">
            {control brandForm}
            </div>
    </div>
</div>